.conteudo {
  line-height: 3rem;
  width: 72%;
  max-width: 940px;
  color: #4d3c64;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: auto;
  margin-bottom: 220px;
  padding: 60px;
  box-shadow: -10px 8px 30px #312f2f;
  z-index: 2;
}




























